body {
    background: url('./media/women.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.serif-font {
    font-family: 'Lora', serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.text-md{
    font-size: 1.1rem;
}